{
  "recommendations": [
    "centigrade.centigrade-vscode-essentials",
    "johnpapa.Angular2",
    "CoenraadS.bracket-pair-colorizer",
    "PeterJausovec.vscode-docker",
    "jgsqware.gitlab-ci-templates",
    "eamodio.gitlens",
    "krizzdewizz.goto-last-edit-location",
    "telesoho.vscode-markdown-paste-image",
    "AlanWalk.markdown-toc",
    "PKief.material-icon-theme",
    "Equinusocio.vsc-material-theme",
    "ahsanayaz.vscode-ngrx-snippets",
    "sdras.night-owl",
    "pnp.polacode",
    "alefragnani.project-manager",
    "Arjun.swagger-viewer",
    "wayou.vscode-todo-highlight",
    "GregorBiswanger.json2ts",
  ]
}
