{
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.organizeImports": true
  },
  "prettier.requireConfig": true,
  "typescript.preferences.importModuleSpecifier": "relative",
}
