{
    "$schema": "http://json.schemastore.org/stylelintrc",
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 2,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": ["include", "mixin"]
            }
        ]
    }
}
